fastapi==0.115.2
uvicorn[standard]==0.32.0
sqlmodel==0.0.22
sqlalchemy==2.0.36
pydantic==2.9.2
python-multipart==0.0.12
orjson==3.10.7
numpy==2.1.2
httpx==0.27.2
openai
# For DOCX generation
docxtpl
# For PDF extraction
pdfminer.six==20221105
# Vector DB integration
pinecone>=3.0.0
# Force Docker rebuild: 2025-10-06
# Force Docker rebuild: 2025-10-06
# Force Docker rebuild: 2025-10-06
